<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户进出信息看板 </title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/4.css">
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="header">客户进出信息看板</div>
            <div class="timer">2019-09-12 18:20:20</div>
        </div>
        <div id="content">
            <div class="left fl">
                <div class="imgcontainer">
                    <img src="../static/imgs/bjt.jpg" alt="" srcset="">
                </div>
                <div class="identifyInfo">
                    识别客户信息
                </div>
                <div class="identifyInfoContainer">
                    <div class="imgcontainer2">
                        <img src="../static/imgs/employee/datouxiang.png" alt="">
                    </div>
                    <div class="employInfo">
                        <ul>
                            <li class="li1">
                                <div class="name"><span>姓名：</span><span>张三</span></div>
                                <div><span></span><span></span></div>
                            </li>
                            <li class="li2">
                                <div><span>性别：</span><span>女</span></div>
                                <div><span>到店类型：</span><span>二次到店</span></div>
                            </li>
                            <li class="li3">
                                <div><span>行为识别：</span><span>进入</span></div>
                                <div><span>识别时间：</span><span></span>18:20:20</div>
                            </li>
                            <li class="li4">
                                <div><span>预约情况：</span><span>无预约</span></div>
                                <div><span>今日识别次数：</span><span>3</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right fr">

                <div class="top">
                    <div class="info">
                        客户出入识别
                    </div>


                    <ul id="tableHeader">
                            <li class="tr1">客户信息</li>
                            <li class="tr2">到店类型</li>
                            <li class="tr3">预约情况</li>
                            <li class="tr4">出入情况</li>
                            <li class="tr5">出入时间</li>
                        </ul>
                        <div class="scrollContainer">
        
                            <ul id="scrollul">
                                <li>
                                    <ul>
                                        <li class="tr1"><img style="width:65px;height:65px;margin-right:30px;" src="../static/imgs/employee/touxiang.png" alt="">张三</li>
                                        <li class="tr2">fafa</li>
                                        <li class="tr3">预约情况</li>
                                        <li class="tr4">出入情况</li>
                                        <li class="tr5">记录时间</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li class="tr1"><img style="width:65px;height:65px;margin-right:30px;" src="../static/imgs/employee/touxiang.png" alt="">22</li>
                                        <li class="tr2">车主姓名</li>
                                        <li class="tr3">预约情况</li>
                                        <li class="tr4">出入情况</li>
                                        <li class="tr5">记录时间</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li class="tr1"><img style="width:65px;height:65px;margin-right:30px;" src="../static/imgs/employee/touxiang.png" alt="">33</li>
                                        <li class="tr2">车主姓名</li>
                                        <li class="tr3">预约情况</li>
                                        <li class="tr4">出入情况</li>
                                        <li class="tr5">记录时间</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li class="tr1"><img style="width:65px;height:65px;margin-right:30px;" src="../static/imgs/employee/touxiang.png" alt="">44</li>
                                        <li class="tr2">车主姓名</li>
                                        <li class="tr3">预约情况</li>
                                        <li class="tr4">出入情况</li>
                                        <li class="tr5">记录时间</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li class="tr1"><img style="width:65px;height:65px;margin-right:30px;" src="../static/imgs/employee/touxiang.png" alt="">55</li>
                                        <li class="tr2">车主姓名</li>
                                        <li class="tr3">预约情况</li>
                                        <li class="tr4">出入情况</li>
                                        <li class="tr5">记录时间</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <div class="info">
                            到店统计
                        </div>
                        <ul>
                            <li class='li1'>
                                <h1>24</h1>
                                <div>今日到店</div>
                            </li>
                            <li class='li2'>
                                <h1>22</h1>
                                <div>二次到店</div>
                            </li>
                            <li class='li3'>
                                <h1>22</h1>
                                <div>预约到店</div>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="info">
                            客流统计
                        </div>
                        <div class="echartsContainer" id='eCharts'>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/plugins/jquery-1.9.1.min.js"></script>
    <script src="../static/plugins/echarts.js"></script>

    <script>
        var option = {
            color: ['#16A0FF', '#b966f9'],
            legend: {
                // orient 设置布局方式，默认水平布局，可选值：'horizontal'（水平） ¦ 'vertical'（垂直）
                orient: 'horizontal',
                // x 设置水平安放位置，默认全图居中，可选值：'center' ¦ 'left' ¦ 'right' ¦ {number}（x坐标，单位px）
                x: '300px',
                // y 设置垂直安放位置，默认全图顶端，可选值：'top' ¦ 'bottom' ¦ 'center' ¦ {number}（y坐标，单位px）
                y: '30px',
                data: ['进店人数', '出店人数'],
                textStyle: {
                    color: "#8BD7FF",
                    fontSize: 14,
                    padding: [0, 0, 0, 0]
                },
            },

            //  图表距边框的距离,可选值：'百分比'¦ {number}（单位px）
            grid: {
                top: '65px', // 等价于 y: '16%'
                left: "50px",
                right: '60px',
                bottom: '30px',
                containLabel: true
            },

            // 提示框
            tooltip: {
                trigger: 'axis'
            },

            //工具框，可以选择
            // toolbox: {
            //     feature: {
            //         saveAsImage: {} //下载工具
            //     }
            // },
            xAxis: {
                type: 'category',
                axisLine: {
                    show: false,
                    lineStyle: {
                        width: 1,
                        type: "solid",
                        color: '#fff'
                    },
                },
                axisTick: {
                    show: false,
                    alignWithLabel: false
                },
                // 分隔线
                splitLine: {
                    lineStyle: {
                        color: ['#fff'],
                        opacity: 0.2
                    }
                },
                // 设置X轴数据旋转倾斜
                axisLabel: {
                    interval: 5 //设置X轴数据间隔几个显示一个，为0表示都显示
                },
                // boundaryGap值为false的时候，折线第一个点在y轴上
                boundaryGap: false,
                data: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
                    '17', '18', '19', '20', '21', '22', '23', '24'
                ]
            },

            yAxis: {
                name: '人',
                type: 'value',
                min: 0, // 设置y轴刻度的最小值
                max: 200, // 设置y轴刻度的最大值
                splitNumber: 4, // 设置y轴刻度间隔个数
                axisLine: {
                    show: false,
                    lineStyle: {
                        // 设置y轴颜色
                        color: '#fff'
                    }
                },
                axisTick: {
                    show: false,
                    alignWithLabel: false
                },
                // 分隔线
                splitLine: {
                    lineStyle: {
                        color: ['#fff'],
                        opacity: 0.2
                    }
                },
            },

            series: [{
                    name: '进店人数',
                    data: [130, 82, 92, 31, 14, 90, 10, 82, 93, 80, 92, 92, 31, 14, 12, 133, 80, 32, 01, 34, 29,
                        30,
                        14, 10, 130,
                    ],
                    type: 'line',
                    // 设置小圆点消失
                    // 注意：设置symbol: 'none'以后，拐点不存在了，设置拐点上显示数值无效
                    symbol: 'none',
                    // 设置折线弧度，取值：0-1之间
                    smooth: 0.5,
                    areaStyle: {}
                },
                {
                    name: '出店人数',
                    data: [80, 92, 92, 31, 14, 12, 133, 80, 32, 01, 34, 29, 130, 82, 92, 31, 14, 90, 10, 82, 93,
                        30,
                        14, 10, 130,
                    ],
                    type: 'line',
                    // 设置小圆点消失
                    // 注意：设置symbol: 'none'以后，拐点不存在了，设置拐点上显示数值无效
                    symbol: 'none',
                    // 设置折线弧度，取值：0-1之间
                    smooth: 0.5,
                    areaStyle: {}
                },
            ],

        };
        var eChart = echarts.init(document.querySelector("#eCharts"));
        eChart.setOption(option);



        
        $(function () {
            var timeId = setInterval(play, 3000);

            function play() {
                $("#scrollul").animate({
                        "marginTop": "-82px：
                    },
                    300,
                    function () {
                        /* stuff to do after animation is complete */
                        $(this).css({
                            "marginTop": 0
                        }).children("li:first").appendTo(this);
                    });
            }
            $("#scrollul").hover(function () {
                /* Stuff to do when the mouse enters the element */
                clearInterval(timeId);
            }, function () {
                /* Stuff to do when the mouse leaves the element */
                timeId = setInterval(play, 3000);
            });
        })
    </script>
</body>

</html>