<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>员工出入信息看板 </title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/staff.css">
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css">
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="header">员工出入信息看板</div>
            <div class="timer">2019-09-12 18:20:20</div>
        </div>
        <div id="content">
            <div class="left fl">
                <div class="imgcontainer">
                    <img src="../static/imgs/bjt.jpg" alt="" srcset="">
                </div>
                <div class="identifyInfo">
                    识别员工信息

                </div>
                <div class="identifyInfoContainer">
                    <div class="imgcontainer2">
                    <img :src="lastedArrive.faceUrl" alt="">
                    </div>
                    <div class="employInfo">
                        <ul>
                            <li class="li1">
                                <div class="name"><span>姓名：</span><span v-text="lastedArrive.appointment"></span></div>
                                <div><span class="icon font_family icon-nv" v-if="lastedArrive.sex===2"
                                        v-clock></span><span class="icon font_family icon-nan"
                                        v-if="lastedArrive.sex===1" v-clock></span></div>
                            </li>
                            <li class="li2">

                            </li>
                            <li class="li3">
                                <div><span>预约情况：</span><span v-text="lastedArrive.appointment"></span></div>
                                <div><span>到店类型：</span><span>二次到店</span></div>

                            </li>
                            <li class="li4">

                                <div><span>行为识别：</span><span v-text="lastedArrive.actionType"></span></div>
                                <div><span>时间：</span><span></span v-text="lastedArrive.dateTime"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right fr">

                <div class="top">
                    <div class="info">
                        员工出入识别
                    </div>
                    <div class="scrollulContainer">
                        <ul id='scrollul'>
                            <li>
                                <div class="doorNumber">
                                    一号门
                                </div>
                                <div class="doorInfo">
                                    <div class="div1">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div2">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div3">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="doorNumber">
                                    2号门
                                </div>
                                <div class="doorInfo">
                                    <div class="div1">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div2">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div3">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="doorNumber">
                                    3号门
                                </div>
                                <div class="doorInfo">
                                    <div class="div1">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div2">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div3">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="doorNumber">
                                    一号门
                                </div>
                                <div class="doorInfo">
                                    <div class="div1">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div2">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div3">
                                        <div class="imgContainer">
                                            <img src="../static/imgs/employee/touxiang.png" alt="">
                                        </div>
                                        <div class="doorInfoText">
                                            <div>
                                                <span>张三</span>&nbsp;&nbsp;
                                                <span>进入</span>
                                            </div>
                                            <div>
                                                <span>18:20:20</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <div class="info">
                        员工出入统计
                    </div>
                    <ul>
                        <li class='li1'>
                            <h1>24</h1>
                            <div>入店人次</div>
                        </li>
                        <li class='li2'>
                            <h1>22</h1>
                            <div>出店人次</div>
                        </li>
                        <li class='li3' id='echartsContainer'></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/plugins/jquery-1.9.1.min.js"></script>
    <script src="../static/plugins/echarts.js"></script>
    <script src="../static/plugins/vue.min.js"></script>


    <script src="../static/scripts/common/global.js"></script>
    <script src="../static/scripts/common/utils.js"></script>
    <script src="../static/scripts/staff.js"></script>
    <script type="text/javascript">



    </script>
</body>

</html>