<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIP客户信息看板 </title>
    <link rel="stylesheet" href="../static/css/reset.css?2222222222222222">
    <link rel="stylesheet" href="../static/css/vip.css">
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="header">VIP客户信息看板</div>
            <div class="timer">2019-09-12 18:20:20</div>

        </div>
        <div id="content">
            <div class="left fl">
                <div class="info">
                    VIP人像识别
                </div>
                <!-- actionType: 2
                adviserName: ""
                business: ""
                dateTime: "14:56:06"
                faceUrl: "http://xx-s3gw.watone.com.cn/frames/b1142228-c903-47f8-be81-7e8bddb0558c"
                frameUrl: "http://xx-s3gw.watone.com.cn/photos/20de2270-649d-4884-be23-0bb0c6e64025"
                licensePlates: ["{"value":"111"}"]
                mainFaceUrl: "http://xx-s3gw.watone.com.cn/frames/38dc6b27-1bf5-4210-8dca-d6285aeaad8c"
                maxScore: 0.7043982062180432
                name: "3333wwww"
                sex: 1 -->
                <div class="vipinfo">
                    <ul class="top">
                        <li class="li1"><img :src="vipUserInfo.mainFaceUrl" alt=""></li>
                        <li class="li2" id="">
                            <div id="comparecircle">

                            </div>
                            <div class="echartTitle" v-text="VipModule.parseScore(vipUserInfo.maxScore)">

                            </div>
                        </li>
                        <li class="li3"><img :src="vipUserInfo.faceUrl" alt=""></li>
                    </ul>
                    <div class="bottom">
                        <h1>
                            <div class="infolist-item">
                                <label class="infolist-label">姓名：</label>
                                <div class="infolist-block" v-text="vipUserInfo.name">
                                    张三
                                </div>
                            </div>
                        </h1>
                        <div class="infolist">
                            <div class="infolist-item">
                                <label class="infolist-label">性别：</label>
                                <div class="infolist-block" v-text="vipUserInfo.sex===1?'男':'女'">
                                    女
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">车牌：</label>
                                <div class="infolist-block">
                                    <div v-for="item in vipUserInfo.licensePlates">
                                        {{item.value}}
                                    </div>
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">办理：</label>
                                <div class="infolist-block" v-text="vipUserInfo.business">
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">接待：</label>
                                <div class="infolist-block" v-text="vipUserInfo.adviserName">
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">行为：</label>
                                <div class="infolist-block" v-text="vipUserInfo.actionType===1?'进店':'出店'">
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">时间：</label>
                                <div class="infolist-block" v-text="vipUserInfo.dateTime">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right fr">
                <div class="info">
                    VIP出入识别
                </div>


                <ul id="tableHeader">
                    <li class="tr1">图像对比</li>
                    <li class="tr2">相似度</li>
                    <li class="tr3">姓名</li>
                    <li class="tr4">性别</li>
                    <li class="tr5">出入情况</li>
                    <li class="tr6">出入时间</li>
                </ul>
                <div class="scrollContainer">

                    <ul id="scrollul">
                        <li v-for="(item,index) in scrollUlData">
                            <ul>
                                <li class="tr1" v-text=""><img :src="item.faceUrl" alt=""><img :src="item.mainFaceUrl"
                                        alt=""></li>
                                <li class="tr2" v-text="VipModule.parseScore(item.maxScore) "></li>
                                <li class="tr3" v-text="item.name"></li>
                                <li class="tr4" v-text="item.sex===1?'男':'女'"></li>
                                <li class="tr5" v-text="item.actionType===1?'进入':'出店'"></li>
                                <li class="tr6" v-text="item.dateTime"></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/plugins/jquery-1.9.1.min.js"></script>
    <script src="../static/plugins/echarts.js"></script>
    <script src="../static/plugins/vue.min.js"></script>


    <script src="../static/scripts/common/global.js"></script>
    <script src="../static/scripts/common/utils.js"></script>
    <script src="../static/scripts/vip.js"></script>
    <script>

    </script>
</body>

</html>