<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIP客户信息看板 </title>
    <link rel="stylesheet" href="../static/css/reset.css?2222222222222222">
    <link rel="stylesheet" href="../static/css/vip.css">
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="header">VIP客户信息看板</div>
            <div class="timer">2019-09-12 18:20:20</div>

        </div>
        <div id="content">
            <div class="left fl">
                <div class="info">
                    VIP人像识别
                </div>

                <div class="vipinfo">
                    <ul class="top">
                        <li class="li1"><img src="../static/imgs/employee/touxiang.png" alt=""></li>
                        <li class="li2" id="">
                            <div id="comparecircle">

                            </div>
                            <div class="echartTitle">
                                相似度
                            </div>
                        </li>
                        <li class="li3"><img src="../static/imgs/employee/touxiang.png" alt=""></li>
                    </ul>
                    <div class="bottom">
                        <h1>
                            <div class="infolist-item">
                                <label class="infolist-label">姓名：</label>
                                <div class="infolist-block">
                                    张三
                                </div>
                            </div>
                        </h1>
                        <div class="infolist">
                            <div class="infolist-item">
                                <label class="infolist-label">性别：</label>
                                <div class="infolist-block">
                                    女
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">车牌：</label>
                                <div class="infolist-block">
                                    <div>

                                        京AY8255
                                    </div>
                                    <div>

                                        京AY8255
                                    </div>
                                    </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">办理：</label>
                                <div class="infolist-block">
                                        车辆抛光
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">接待：</label>
                                <div class="infolist-block">
                                    马六
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">行为：</label>
                                <div class="infolist-block">
                                    进入
                                </div>
                            </div>
                            <div class="infolist-item">
                                <label class="infolist-label">时间：</label>
                                <div class="infolist-block">
                                    18:10:10
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right fr">
                <div class="info">
                    VIP出入识别
                </div>


                <ul id="tableHeader">
                    <li class="tr1">图像对比</li>
                    <li class="tr2">相似度</li>
                    <li class="tr3">姓名</li>
                    <li class="tr4">性别</li>
                    <li class="tr5">出入情况</li>
                    <li class="tr6">出入时间</li>
                </ul>
                <div class="scrollContainer">

                    <ul id="scrollul">
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">1%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">2%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">3%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">4%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">5%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">6%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">7%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">8%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">9%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">10%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="tr1"><img src="../static/imgs/employee/touxiang.png" alt=""><img
                                        src="../static/imgs/employee/touxiang.png" alt=""></li>
                                <li class="tr2">11%</li>
                                <li class="tr3">张三</li>
                                <li class="tr4">男</li>
                                <li class="tr5">进入</li>
                                <li class="tr6">12:20:20</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/plugins/jquery-1.9.1.min.js"></script>
    <script src="../static/plugins/echarts.js"></script>
    <script src="../static/plugins/vue.min.js"></script>


    <script src="../static/scripts/common/global.js"></script>
    <script src="../static/scripts/common/utils.js"></script>
    <script src="../static/scripts/vip.js"></script>
    <script>
        
    </script>
</body>

</html>